*{
    padding: 0;
    margin: 0;
}
main{
    max-width: 1150px;
    margin: auto;
}
/* this is navabr section css here */

.navMain{
    display: flex;
    justify-content: space-between;
    padding: 11px 55px;
    background-color: rgba(255, 255, 255, 0.453);
    
   
    
}

.position{
    position: sticky;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    

}

.navLink ul{

    display: flex;
    justify-content: space-around;
}

.navLink ul li{
    list-style: none;
    margin-right: 10px;
}
.navLink ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: #090909;
}

.navLink ul li a:hover{
    border-bottom: 3px solid #273272;
}
.navLink ul li:active{
    color: #273272;
}
/* navbar section style end here */
/* bannar section start here */
.bannar{
    background-image: url(./img/bannar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: start;
   

}

.bannar-inner{
    width: 1150px;
    margin: auto;
}
.bannar-inner h4{
    font-size: 30px;
}
.bannar-inner h2{
    font-size: 66px;
    color: #273272;
}
.bannar-inner button a{
    border: none;
}
.bannar-inner button{
    background-color: #273272;
    color: white;
    border: none;
    
    padding: 20px 35px;

}
/* bannar section end here */
/* about section start here */
.about{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.about-rights h5{
    color: red;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
}
.about-rights h2{
    color: #273272;
    font-size: 66px;
    margin-bottom: 15px;
}
.about-rights h3{
    margin-bottom: 11px;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer;
}

.about-rights p{
    margin-bottom: 11px;
}
.about-rights button{
    border: none;
    background-color: #273272;
    color: white;
    text-transform: capitalize;
    padding: 13px 25px;
    font-size: 17px;
}


.about-rights button:hover{
    background-color: red;
    
}

.brand{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}
/* about section end here */
/* maintain section start here */
.maintain{
    margin-top: 66px;
}

.maintain-top-title h5{
    color: red;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}
.maintain-inner-box{
    padding: 33px;
}
.maintain-top-title h3{
    color: #273272;
    font-size: 55px;
    margin-bottom: 54px;
}
.maintain-box{ 
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.maintain-inner-box img{
    margin-bottom: 5px;
}

.maintain-inner-box h4{
    color: #273272;
    font-size: 30px;
    line-height: 51px;
   

}
.maintain-inner-box p{
    color: #273272;
    font-size: 20px;
}
.different-style{
    padding: 33px;
    box-shadow: 2px 3px 2px 3px rgb(211, 207, 207);
}
/* maintain section end here */
/* services sectin start here */

.services{
    margin-top: 77px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    
}
.services-rights-main{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    gap: 25px;
}

.services-left h2{
    font-size: 55px;
    color: #273272;
    line-height: 60px;
    margin-bottom: 17px;
}
.services-left p{
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 14px;

}
.services-left button{
    border: none;
    background: #273272;
    color: white;
    padding: 16px 27px;
    text-transform: capitalize;
    font-size: 15px;
}
.services-left button:hover{
    background-color: red;
}
.services-left h5{
    color: red;
    line-height: 28px;
    font-size: 18px;
    font-weight: 300;
}


.services-inner-box{
    margin-top: 25px;
}
.services-inner-box h4{
    color: #273272;
    font-size: 24px;
    line-height: 44px;
}
/* services section end here */
/* project review section start here */
.project{
    margin-top: 66px;
    display: flex;
    justify-content: space-between;

}
.project h2{
    color: #273272;
    font-size: 50px;
    line-height: 77px;

}
.project h4{
    color: #273272;
}
/* project review section end here */
/* solutions section start here */
.solutions{
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.find-main{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.solution-rights h5{
    color: red;
}
.solution-rights h2{
    color: #273272;
    font-size: 55px;
    line-height: 66px;
    margin-bottom: 33px;
}
.fint-con h4{
    font-size: 30px;
    line-height: 51px;
    color: #433f3f;
    font-weight: 300;
}
